ul {
	list-style: none;
	display: inline-block;
}
li {
	padding: 0.5em !important;
}
li:hover {
	background-color: lightgreen;
	border-radius: 15px 15px 0 0;
	font-color: purple;
}
input {
	width: 50%;
	font-size: 1.5em;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.logo {
	width:
}