body {
	background-color: #ce93d8;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border: #FCE4EC solid 1px;
}
ul {
	list-style: none;
	text-align: left;
	width: 50%;
	border: #FCE4EC solid 1px;
	margin: 0 auto;
}
.done-true {
  text-decoration: line-through;
  color: grey;
}